---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("news"))
  .sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
---

<BaseLayout title="News">
  <h2>News</h2>

  {posts.length === 0 ? <p>Noch keine Beiträge.</p> : (
    <ul>
      {posts.map(p => (
        <li>
          <a href={`/news/${p.slug}/`}><strong>{p.data.title}</strong></a><br />
          {new Date(p.data.date).toLocaleDateString("de-DE")}
        </li>
      ))}
    </ul>
  )}
</BaseLayout>
